<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>V-if and v-else-if</title>
  </head>
  <body>
    <div id="app">
      <h2 v-if="mode == 1">This will show if mode is 1</h2>
      <h2 v-else-if="mode == 2">This will show if mode is 2</h2>
      <h2 v-else>Nothing to Show (v-else)</h2>

      <select v-model="mode">
        <option value="">Select Option</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">None</option>
      </select>
    </div>

    <!-- Vue 3 CDN -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <script>
      const app = Vue.createApp({
        data() {
          return {
            mode: "",
          };
        },
      });

      app.mount("#app");
    </script>
  </body>
</html>
